.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	@media screen and (min-width: $mobile) {
		width: $mobile;
	}
	@media screen and (min-width: $tablet) {
		width: $tablet;
		padding-left: 34px;
		padding-right: 34px;
	}
	@media screen and (min-width: $desktop) {
<<<<<<< Updated upstream
		width: 1080px;
=======
		width: $desktop;
>>>>>>> Stashed changes
		padding-left: 15px;
		padding-right: 15px;
	}
}
.title {
<<<<<<< Updated upstream
	font-family: "Titan One";
=======
	font-family: "Titan One", cursive;
	text-align: center;
>>>>>>> Stashed changes
	text-transform: uppercase;
	margin-top: 15px;
	@include font(400, 34px, 1.15);
	color: $brand-color;
	@media screen and (min-width: $tablet) {
		@include font(400, 48px, 1.15);
	}
	@media screen and (min-width: $desktop) {
		@include font(400, 58px, 1.15);
	}
}
.label {
<<<<<<< Updated upstream
	font-family: "Titan One";
=======
	font-family: "Titan One", cursive;
	text-align: center;
>>>>>>> Stashed changes
	text-transform: uppercase;
	@include font(400, 18px, 1.17);
	color: $sd-brand-color;
	@media screen and (min-width: $tablet) {
		@include font(400, 26px, 1.15);
	}
	@media screen and (min-width: $desktop) {
		@include font(400, 30px, 1.15);
	}
}
