.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	@media screen and (min-width: $mobile) {
		width: $mobile;
	}
	@media screen and (min-width: $tablet) {
		width: $tablet;
		padding-left: 34px;
		padding-right: 34px;
	}
	@media screen and (min-width: $desktop) {
		width: 1080px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.section__title {
	font-family: "Titan One";
	@include font(400, 34, 1.15);
	color: $brand-color;
	@media screen and (min-width: $tablet) {
		@include font(400, 48, 1.15);
	}
	@media screen and (min-width: $desktop) {
		@include font(400, 58, 1.15);
	}
}
.section__label {
	font-family: "Titan One";
	@include font(400, 18, 1.17);
	color: $sd-brand-color;
	@media screen and (min-width: $tablet) {
		@include font(400, 26, 1.15);
	}
	@media screen and (min-width: $desktop) {
		@include font(400, 30, 1.15);
	}
}
