<section class="contacts">
	<div class="container">
		<h2 class="visibility-hiden">Contacts</h2>
		<ul class="contacts__list">
			<li class="card">
				<span class="card__label card__label--brown">CAFE</span>
				<div>
					<div class="card__box">
						<span class="card__city">Chicago</span>
						<p class="card__text">
							Fusce ut velit laoreet, tempus arcu molestie vulputate
						</p>
					</div>
					<div class="card__box">
						<ul>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
						</ul>
					</div>
					<div class="card__box">
						<ul>
							<li><a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
							<li><a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="card">
				<span class="card__label card__label--bg-green">FOODTRUCK</span>
				<div>
					<div class="card__box">
						<span class="card__city">Los Angeles</span>
						<p class="card__text">
							Fusce ut velit laoreet, tempus arcu molestie vulputate
						</p>
					</div>
					<div class="card__box">
						<ul>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
						</ul>
					</div>
					<div class="card__box">
						<ul>
							<li><a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
							<li><a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="card">
				<span class="card__label card__label--brown">CAFE</span>
				<div>
					<div class="card__box">
						<span class="card__city">New York</span>
						<p class="card__text">
							Fusce ut velit laoreet, tempus arcu molestie vulputate
						</p>
					</div>
					<div class="card__box">
						<ul>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
						</ul>
					</div>
					<div class="card__box">
						<ul>
							<li><a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
							<li><a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
		<div class="btns-box">
			<button class="btn--contacts btn--pink" type="button">Our Locations<svg class="btn__arrow" width="8" height="16">
					<use href="./images/sprite.svg#btn-arrow"></use>
				</svg></button>
			<button class="btn--contacts btn--white" type="button">Franchise<svg class="btn__arrow" width="8" height="16">
					<use href="./images/sprite.svg#btn-arrow"></use>
				</svg></button>
		</div>
	</div>
</section>