<section class="contacts" id="contacts">
	<div class="container">
		<h2 class="visibility-hiden">Contacts</h2>
		<ul class="contacts__list">
			<li class="card">
				<span class="card__label card__label--brown">CAFE</span>
				<div>
					<div class="card__box">
						<span class="card__city">Chicago</span>
						<p class="card__text">
							Fusce ut velit laoreet, tempus arcu molestie vulputate
						</p>
					</div>
					<div class="card__box">
						<ul>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
						</ul>
					</div>
					<div class="card__box">
						<ul>
							<li><a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
							<li><a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="card">
				<span class="card__label card__label--bg-green">FOODTRUCK</span>
				<div>
					<div class="card__box">
						<span class="card__city">Los Angeles</span>
						<p class="card__text">
							Fusce ut velit laoreet, tempus arcu molestie vulputate
						</p>
					</div>
					<div class="card__box">
						<ul>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
						</ul>
					</div>
					<div class="card__box">
						<ul>
							<li><a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
							<li><a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
						</ul>
					</div>
				</div>
			</li>
			<li class="card">
				<span class="card__label card__label--brown">CAFE</span>
				<div>
					<div class="card__box">
						<span class="card__city">New York</span>
						<p class="card__text">
							Fusce ut velit laoreet, tempus arcu molestie vulputate
						</p>
					</div>
					<div class="card__box">
						<ul>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
							<li><span class="card__day">Monday - Friday</span><br>
								<span class="card__time">06:00 AM - 10:00 PM</span>
							</li>
						</ul>
					</div>
					<div class="card__box">
						<ul>
							<li><a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
							<li><a class="card__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
		<div class="btns-box">
			<button class="btn--contacts btn--pink" type="button" locations-modal-open>Our Locations<svg class="btn__arrow"
					width="8" height="16">
					<use href="./images/sprite.svg#btn-arrow"></use>
				</svg></button>
			<button class="btn--contacts btn--white" type="button" franchise-modal-open>Franchise<svg class="btn__arrow"
					width="8" height="16">
					<use href="./images/sprite.svg#btn-arrow"></use>
				</svg></button>
		</div>
	</div>

	<div class="backdrop is-hidden" franchise-modal>
		<div class="modal">
			<button type="button" class="modal__close-btn" franchise-modal-close>
				<svg width="18" height="18">
					<use href="./images/sprite.svg#close"></use>
				</svg>
			</button>
			<h2 class="modal__title">Leave your details, we will call you back</h2>
			<form action="#" class="form" autocomplete="on" method="GET">
				<label class="form__field">Name
					<input class="form__input" type="text" name="name" required placeholder="Alex">
					<svg class="form__svg" width="18" height="18">
						<use href="./images/sprite.svg#form-person"></use>
					</svg>
				</label>
				<label class="form__field">Phone
					<input class="form__input" type="tel" name="tel" required minlength="10" placeholder="099-111-11-11"
						title="099-111-11-11">
					<svg class="form__svg" width="18" height="18">
						<use href="./images/sprite.svg#form-phone"></use>
					</svg>
				</label>
				<label class="form__field">City
					<input class="form__input" type="text" name="city" required placeholder="Chicago">
					<svg class="form__svg" width="18" height="18">
						<use href="./images/sprite.svg#form-location"></use>
					</svg>
				</label>
				<label class="form__field">E-mail
					<input class="form__input" type="email" name="mail" placeholder="client@gmai.com">
					<svg class="form__svg" width="18" height="18">
						<use href="./images/sprite.svg#form-mail"></use>
					</svg>
				</label>
				<label class="form__field">Comment
					<textarea class="form__input form__input--comment" name="comment" rows="8" placeholder="Your text"></textarea>
				</label>
				<label class="policy">
					<input class="policy__checkbox" type="checkbox">
					<span class="policy__icon"></span>
					I agree to the newsletter and accept <a href="#" class="policy__link">Terms of an agreement</a>
				</label>
				<button class="form__submit-btn btn btn--white" type="submit">Send</button>
			</form>
		</div>
	</div>

	<div class="backdrop is-hidden" locations-modal>
		<div class="modal">
			<button type="button" class="modal__close-btn" locations-modal-close>
				<svg width="18" height="18">
					<use href="./images/sprite.svg#close"></use>
				</svg>
			</button>
			<h2 class="modal__title">Location</h2>
			<iframe class="map"
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8401.600054454373!2d-87.64431000930223!3d41.8839487858457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2d13822d8aeb%3A0x73dc5d9b93ca70d1!2sFulton%20Market%20Kitchen!5e0!3m2!1sru!2sua!4v1633957834703!5m2!1sru!2sua"
				style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
	</div>
</section>