<section class="reviews">
    <div class="container">
        <ul class="slider">
            <li class="slider__item">
                <img class="slider__image" src="./images/user-1.jpg" alt="">
                <p class="slider__text slider__text--gradient">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="slider__address">Emily, Los Angeles</p>
            </li>
            <li class="slider__item">
                <img class="slider__image" src="./images/user-2.jpg" alt="">
                <p class="slider__text slider__text--gradient">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="slider__address">Claire, New York</p>
            </li>
            <li class="slider__item">
                <img class="slider__image" src="./images/user-3.jpg" alt="">
                <p class="slider__text slider__text--gradient">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                <p class="slider__address">Mary, Chicago</p>
            </li>
        </ul>
        
    </div>
</section>