<footer class="footer" id="footer">
	<div class="footer-container">
		<div class="footer-text">
			<p class="footer-text__homemade">homemade ice cream made</p>
			<p class="footer-text__passion">with passion</p>
		</div>
		<div class="footer-items">
			<ul class="footer-join">
				<li class="footer-join__item">
					<a class="footer-join__link" href="https://www.github.com">
						<svg class="footer-join__icon" width="20" height="20">
							<use href="./images/sprite.svg#git">
							</use>
						</svg>
					</a>
				</li>
				<li class="footer-join__item">
					<a class="footer-join__link" href="https://web.telegram.org">
						<svg class="footer-join__icon" width="20" height="16">
							<use href="./images/sprite.svg#telegram">
							</use>
						</svg>
					</a>
				</li>
				<li class="footer-join__item">
					<a class="footer-join__link" href="https://https://www.facebook.com/">
						<svg class="footer-join__icon" width="9" height="20">
							<use href="./images/sprite.svg#facebook">
							</use>
						</svg>
					</a>
				</li>



			</ul>
			<h2 class="footer-items__contact">Feel free to contact
				<a class="footer-items__phone" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
			</h2>
		</div>

	</div>
	<div class="footer-bottom">
		<h2 class="footer-copyright">
			&copy; 2019 - IceCream.
			All Rights Reserved.
		</h2>
	</div>
</footer>