<section class="footer">


<footer class="container footer-container">
    <div >
        <div class="footer-text">
            <a class="footer-text__homemade" href="">homemade ice cream made<br><span class="footer-text__passion">with
                    passion</span></a>
        </div>
        <div class="footer-items">
            <ul class="footer-join">
                <li class="footer-join__item">
                    <a class="footer-join__link" href="https://www.github.com">
                        <svg class="footer-join__icon ">
                            <use href="./images/sprite.svg#git">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="footer-join__item">
                    <a class="footer-join__link" href="https://www.github.com">
                        <svg class="footer-join__icon ">
                            <use href="./images/sprite.svg#telegram">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="footer-join__item">
                    <a class="footer-join__link" href="https://www.github.com">
                        <svg class="footer-join__icon ">
                            <use href="./images/sprite.svg#facebook">
                            </use>
                        </svg>
                    </a>
                </li>
        
        
        
            </ul>
            <h2 class="footer-items__contact">Feel free to contact
                <a class="footer-items__phone" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
            </h2>
        </div>

    </div>
    
        
            <div class="footer-bottom">
                <h2 class="footer-copyright">
                    © 2019 - IceCream.
                    All Rights Reserved.
                </h2>

            </div>


        
        
 </footer>
</section>
