<header class="header">
  <div class="container header__container">
    <img
      class="logo"
      srcset="./images/logo.jpg 1x, ./images/logo-2x.jpg 2x"
      src="./images/logo.jpg"
      alt="logo"
    />
    <div class="header__menu js-menu-container" id="mobile-menu">
      <button class="close-btn js-close-menu" type="button"></button>
      <button type="button">Buy now</button>
      <nav>
        <ul>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">About us</a>
          </li>
          <li>
            <a href="">How it’s made?</a>
          </li>
          <li>
            <a href="">Our products</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button
      class="menu-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-btn__icon">
        <use href="./images/sprite.svg#burger"></use>
      </svg>
    </button>
  </div>
</header>
