<header class="header">
  <div class="container header__container">
    <img
      loading="lazy"
      class="logo"
      srcset="./images/logo.png 1x, ./images/logo-2x.png 2x"
      src="./images/logo.png"
      alt="logo"
    />
    <div class="header__menu js-menu-container" id="mobile-menu">
      <button class="close-btn js-close-menu" type="button">
        <svg class="close-btn__icon">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
      <button class="buy-btn--menu btn--white" type="button">
        Buy now
        <svg class="buy-btn__icon--menu">
          <use href="./images/sprite.svg#btn-arrow"></use>
        </svg>
      </button>
      <nav class="header__nav">
        <ul class="navigation">
          <li class="navigation__item">
            <a class="navigation__link" href="">Home</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="">About us</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="">How it’s made?</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="">Our products</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button
      class="menu-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-btn__icon">
        <use href="./images/sprite.svg#burger"></use>
      </svg>
    </button>
    <button class="buy-btn btn--white" type="button">
      Buy now
      <svg class="buy-btn__icon">
        <use href="./images/sprite.svg#btn-arrow"></use>
      </svg>
    </button>
  </div>
</header>
