<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      ice cream <br />
      made with <br />
      <span class="hero__title--alt"> passion </span>
    </h1>
    <ul class="hero-nav">
      <li class="hero-nav__item">
        <button class="hero-nav__btn--prod btn btn--pink" type="button">Products</button>
      </li>
      <li class="hero-nav__item">
        <button class="hero-nav__btn--him btn btn--white" type="button">How it’s made?</button>
      </li>
    </ul>
    <div class="hero-slider">
      <p class="hero-slider__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="hero-slider__btn btn--white" type="button">
        <svg class="hero-slider__icon">
          <use href="./images/sprite.svg#product-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
