<section class="section-products" id="products">
  <div class="container">
    <p class="label label--products">100% Natural</p>
    <h2 class="title title--products">Products</h2>
    <ul class="products">
      <li class="products__item">
        <!-- <div class="products__content"> -->
          <h3 class="products__title">ICE CREAM</h3>
          <p class="products__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, mollitia ipsam blanditiis laborum quisquam culpa placeat</p>
        <!-- </div> -->
        <button type="button" class="products__button"></button>
      </li>
      <li class="products__item">
        <!-- <div class="products__content"> -->
          <h3 class="products__title">ICE COFFEE</h3>
            <p class="products__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, mollitia ipsam blanditiis laborum quisquam culpa placeat</p>
        <!-- </div> -->
        <button type="button" class="products__button"></button>
        
      </li>
      <li class="products__item">
        <!-- <div class="products__content"> -->
          <h3 class="products__title">MILKSHAKES</h3>
          <p class="products__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, mollitia ipsam blanditiis laborum quisquam culpa placeat</p>
        <!-- </div> -->
        
        <button type="button" class="products__button"></button>
      </li>
    </ul>
  </div>
</section>
