<section class="section section--products">
    <div class="container">
        <p class="section__label">100% Natural</p>
            <h2 class="section__title">Products</h2>
                <ul class="products">
                    <li class="products__item">
                        <div class="products__thumb--pink">
                            <h3 class="products__title">ICE CREAM</h3>
                            <p class="products__text"></p>
                            <button type="button" class="products__button"></button>
                        </div>     
                    </li>
                    <li class="products__item">
                        <div class="products__thumb--natural">
                            <h3 class="products__title">ICE COFFEE</h3>
                            <p class="products__text"></p>
                            <button type="button" class="products__button"></button>
                        </div>
                    </li>
                    <li class="products__item">
                        <div class="products__thumb--green">
                            <h3 class="products__title">MILKSHAKES</h3>
                            <p class="products__text"></p>
                            <button type="button" class="products__button"></button>
                        </div>
                    </li>
                </ul>
    </div>
</section>