<section class="products-section">
    <div class="container">
        <h2 class="products-section__title">Products</h2>
        <ul class="products">
            <li class="products__item">
                <h3 class="products__title"></h3>
            </li>
            <li class="products__item">
                <h3 class="products__title"></h3>
            </li>
            <li class="products__item">
                <h3 class="products__title"></h3>
            </li>
        </ul>
    </div>
</section>