.btn {
	font-size: 8px;
	line-height: 1.25;
	padding: 9px 14px;
	border: 0;
	border-radius: 12px;
	@media screen and (min-width: $desktop) {
		font-size: 14px;
		line-height: 1.25;
		padding: 15px 23px;
		border-radius: 20px;
	}
}
.btn--pink {
	color: $main-white;
	background-color: $brand-color;
	&:hover,
	&:focus {
		background-color: $pink-hover;
	}
}
.btn--white {
	color: $brand-color;
	background-color: $main-white;
	&:hover,
	&:focus {
		background-color: $white-hover;
	}
}
