.contacts {
	font-family: "DM Sans";
	padding-top: 85px;
	background-color: $sd-background-white;
	background-image: linear-gradient(
		to bottom,
		$main-white 170px,
		$sd-background-white 170px,
		$sd-background-white 100%
	);
	@media screen and(min-width:$desktop) {
		background-image: url(../images/d-about-bg.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: url(../images/d-about-bg-2x.png);
		}
	}
}
.contacts__list {
	display: flex;
	justify-content: center;
	@media screen and (max-width: $tablet - 1px) {
		flex-direction: column;
		align-items: center;
	}
}
.card {
	font-size: 12px;
	padding-top: 43px;
	padding-bottom: 43px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 24px;
	background: #fff;
	box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
	border-radius: 24px;
	@media screen and (max-width: $tablet - 1px) {
		&:not(:first-child) {
			margin-top: 20px;
		}
	}
	@media screen and (min-width: $tablet) {
		font-size: 16px;
		&:not(:first-child) {
			margin-left: 20px;
		}
	}
	@media screen and (max-width: $desktop - 1px) {
		width: 220px;
	}
	@media screen and (min-width: $desktop) {
		width: 330px;
	}
}
.card__label {
	line-height: 1.86;
	border-radius: 4px;
	padding: 3px 25px;
	color: $main-white;
}
.card__label--brown {
	background-color: $background-brown;
}
.card__label--bg-green {
	background-color: $background-green;
}
.card__box {
	font-weight: 500;
	padding-top: 25px;
	padding-bottom: 25px;
	&:not(:first-child) {
		border-top: 1px solid #e1e1e1;
	}
	&:last-child {
		padding-bottom: 0;
	}
}
.card__city {
	line-height: 1.86;
	color: $main-black;
}
.card__text {
	line-height: 1.5;
	margin-top: 10px;
	color: $primary-text-color;
}
.card__day {
	line-height: 1.86;
	color: $main-black;
}
.card__time {
	line-height: 1.86;
	margin-top: 10px;
	color: $sd-brand-color;
}
.card__link {
	font-family: "DM Sans";
	font-weight: 500;
	font-size: 12px;
	line-height: 1.5;
	color: $primary-text-color;
	@media screen and (min-width: $tablet) {
		font-size: 16px;
	}
}
.btns-box {
	display: flex;
	margin-top: 50px;
	@media screen and (max-width: $tablet - 1px) {
		flex-direction: column;
		align-items: center;
	}
	@media screen and (min-width: $tablet) {
		justify-content: center;
	}
}
.btn--contacts {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	line-height: 1.25;
	padding: 15px 23px;
	min-width: 161px;
	border-radius: 25px;
	border: 0;
	@media screen and (max-width: $tablet - 1px) {
		&:last-child {
			margin-top: 10px;
		}
	}
	@media screen and (min-width: $tablet) {
		min-width: 191px;
		&:last-child {
			margin-left: 15px;
		}
	}
	@media screen and (min-width: $desktop) {
		min-width: 200px;
		&:last-child {
			margin-left: 15px;
		}
	}
}
.btn__arrow {
	fill: currentcolor;
	margin-left: 10px;
}
/* -------------------------------- */
.form {
	margin-top: 12px;
}
.form__field {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@include font(400, 12px, 1.16);
	&:not(:first-child) {
		margin-top: 10px;
	}
}
.form__input {
	width: 100%;
	margin-top: 4px;
	resize: none;

	padding: 11px 12px 11px 35px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border $transition;
	&:focus {
		border: 1px solid $brand-color;
		outline: none;
	}
	&--comment {
		padding: 12px 16px;
	}
}
.policy {
	display: block;
	margin-top: 20px;
}
.policy__checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.policy__icon {
	display: inline-block;
	margin-right: 8px;
	width: 16px;
	height: 15px;
	border: 2px solid $brand-color;
	border-radius: 2px;
	transition: background-color $transition, border-color $transition, background-image $transition;
	.policy__checkbox:hover + &,
	.policy__checkbox:focus + & {
		border-color: $brand-color;
	}
	.policy__checkbox:checked + & {
		border-color: $brand-color;
		background-color: $brand-color;
		background-image: url(../images/icon-check.svg);
		background-size: contain;
		background-origin: border-box;
	}
}
.policy__link {
	color: $brand-color;
	text-decoration: underline;
	transition: color $transition;
	&:hover,
	&:focus {
		color: $pink-hover;
		text-decoration: none;
	}
}
.form__submit-btn {
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
