.slider {
  position: relative;
  overflow: hidden;
}

.slider__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  counter-increment: slide;
  position: relative;
}

.slider__text {
  position: relative;
  @include font(500, 12px, 2.55);
  text-align: center;
  color: $main-black;
  background-color: #fafafa;
  padding-left: 57px;
  padding-bottom: 26px;
  padding-right: 66px;
  padding-top: 43px;
  &::before {
    content: '';
    background-image: url(../images/quotes.png);
    color: rgba(225, 225, 225, 1);
    position: absolute;
    width: 54px;
    height: 40px;
    top: 20px;
    left: 60px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media screen and (min-width: 768px) {
    @include font(500, 14px, 2.14);
    letter-spacing: 0.04em;
    padding-left: 80px;
    padding-bottom: 34px;
    padding-right: 80px;
    padding-top: 47px;
  }

  @media screen and (min-width: 1280px) {
    @include font(500, 16px, 1.875);
    padding-left: 87px;
    padding-bottom: 39px;
    padding-right: 89px;
    padding-top: 47px;
  }
}

.slider__text--gradient {
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 100% 1px;
  background-image: linear-gradient(to right, #e1e1e1, #e1e1e1);
}

.slider__image {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
}
