.reviews {
  padding-top: 80px;
  padding-bottom: 86px;
  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 119px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.slider__thumb {
  position: relative;
  width: 280px;
  height: 308px;
  background-color: #fafafa;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 620px;
    height: 164px;
    padding-top: 47px;
    padding-right: 80px;
    padding-bottom: 28px;
    padding-left: 80px;
  }

  @media screen and (min-width: 1280px) {
    width: 926px;
    height: 138px;
    padding-top: 47px;
    padding-right: 89px;
    padding-bottom: 39px;
    padding-left: 89px;
  }
}

.slider__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: 500;
  @include font(500, 12px, 2.55);
  text-align: center;
  color: $main-black;
  &::before {
    z-index: -1;
    content: '';
    background-image: url(../images/quotes.svg);
    position: absolute;
    fill: rgba(225, 225, 225, 1);
    width: 54px;
    height: 40px;
    top: -20px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    transform: translate(-50%, -50%);
    @include font(500, 14px, 2.14);
    letter-spacing: 0.04em;
    &::before {
      left: -10px;
    }
  }

  @media screen and (min-width: 1280px) {
    @include font(500, 16px, 1.875);
    &::before {
      left: 10px;
    }
  }
}

.slider__text--gradient {
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 28px,
    #e1e1e1 30px
  );
  padding-left: 7px;
  padding-right: 3px;
  @media screen and (min-width: 768px) {
    padding-left: 20px;
    padding-right: 12px;
  }
}

.slider__image {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }
}

.slider__address {
  margin-top: 52px;
  font-weight: 500;
  color: $main-black;
  @include font(500, 14px, 1.86);
  @media screen and (min-width: 768px) {
    @include font(500, 16px, 1.86);
  }
  @media screen and (min-width: 1280px) {
    @include font(500, 20px, 1.86);
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
  }
}

.slider__item {
  text-align: center;
}

.slider__item.slick-center {
  opacity: 1;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 50px;
  border: none;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -10px;
  }
}
.slider .slick-dots li {
  list-style: none;
  margin-right: 18px;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slider .slick-dots {
  display: flex;
  position: absolute;
  top: 60%;
}
.slider .slick-dots li button {
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-top: 100px;
}

.slider .slick-dots li.slick-active button {
  background: url(../images/home.svg);
  background-origin: border-box;
  width: 13px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
}

.slider .slick-dots li button::before {
  color: $brand-color;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
