.footer {
  background-color: #fff5f6;
}

.footer-text {
  padding-top: 113px;
  @media screen and (min-width: 768px) {
    padding-top: 165px;
  }
}

.footer-text__homemade {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #ffa5ba;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #ffa5ba;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    color: #ffa5ba;
  }
}

.footer-text__passion {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
}

.footer-join {
  display: flex;
  margin-left: auto;
}

.footer-join__item:not(:last-child) {
  margin-right: 28px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 24px;
  }
}

.footer-join__icon {
  background-color: #fea5bb;
  border-radius: 50%;
  width: 34px;
  height: 34px;

  &:hover {
    background-color: #d41443;
  }
}

.footer-join__link {
  align-items: center;
  justify-content: center;
}

.footer-items__contact {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #000000;
}

.footer-copyright {
  border-top: 1px solid #ececec;
  text-align: center;
}
