.gallery-container {
  width: 100vw;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0 0 0 0;

  @media screen and (min-width: $tablet) {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0 0 0 0;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0 0 0 0;
  }
}
