.header {
  position: relative;
  background-color: transparent;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
}
.header__menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: $menu-color;
}
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.menu-btn__icon {
  width: 20px;
  height: 12px;
}
