.header {
  background-color: $background-pink;
}
.header__container {
  border: 0;
  display: flex;
  align-items: center;
  padding-top: 6px;
  @media screen and (max-width: $tablet - 1) {
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 37px;
  }
  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}
.header__menu {
  @media screen and (max-width: $desktop - 1) {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 60px 0;
    width: 250px;
    height: 100vh;
    background-color: $menu-color;
    &.is-open {
      display: block;
    }
  }
}
.close-btn {
  position: absolute;
  top: 23px;
  right: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.close-btn__icon {
  width: 14px;
  height: 14px;
  fill: $main-white;
}
.buy-btn--menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  @media screen and (min-width: $desktop) {
    display: none;
  }

  width: 209px;
  height: 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  border: 0;
  border-radius: 22px;
}
.buy-btn__icon--menu {
  margin-left: 28px;
  width: 5.26px;
  height: 8px;
  fill: $brand-color;
}
.header__nav {
  @media screen and (max-width: $desktop - 1) {
    margin-top: 19px;
  }
}
.navigation {
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
.navigation__item {
  display: flex;
  align-items: center;
  padding-left: 24px;

  @media screen and (max-width: $desktop - 1) {
    height: 42px;
    border-top: 1px solid #e18298;
    &:last-child {
      border-bottom: 1px solid #e18298;
    }
  }
}
.navigation__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: $main-white;
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.31;
  }
  &:hover,
  &:focus {
    color: $brand-color;
  }
}
.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}
.menu-btn__icon {
  width: 20px;
  height: 12px;
  fill: $brand-color;
}
.buy-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  padding: 0;

  width: 160px;
  height: 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  border: 0;
  border-radius: 22px;
  @media screen and (max-width: $tablet - 1) {
    display: none;
  }
}
.buy-btn__icon {
  margin-left: 12.08px;
  width: 4.03px;
  height: 8px;
  fill: $brand-color;
}
