.hero {
  background-color: $background-pink;
}
.hero__container {
  position: relative;
  padding-top: 193px;
  padding-bottom: 160px;
  @media screen and (min-width: $tablet) {
    padding-top: 102px;
    padding-bottom: 34px;
  }

  background-image: url('../images/m-hero.png'), url('../images/m-circle-bg.png');
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/m-hero-2x.png'), url('../images/m-circle-bg2x.png');
  }
  background-position: 117px 92px, 36px 83px;
  background-repeat: no-repeat, no-repeat;
  @media screen and (min-width: $tablet) {
    background-image: url('../images/t-hero-1.png'), url('../images/t-circle-bg.png');
    background-position: 378px 63px, 307px 31px;
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/t-hero-1-2x.png'), url('../images/t-circle-bg2x.png');
    }
  }
}
.hero__title {
  font-family: Titan One;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-white;
  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
}
.hero__title--alt {
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: 0.04em;
  color: $brand-color;
  @media screen and (min-width: $tablet) {
    font-size: 34px;
    line-height: 0.91;
    letter-spacing: 0.04em;
  }
}
.hero-nav {
  display: flex;
  margin-top: 20px;
}
.hero-nav__item:not(:last-child) {
  margin-right: 8px;
}
.hero-slider {
  @media screen and (max-width: $tablet - 1) {
    display: none;
  }
  display: block;
  margin-top: 66px;
  margin-left: 154px;

  width: 114px;
  height: 48px;
}
.hero-slider__text {
  font-family: DM Sans;
  font-size: 8px;
  line-height: 1.5;
  color: $main-white;
}
.hero-slider__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  padding: 0;

  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 50%;
}
.hero-slider__icon {
  width: 6px;
  height: 6px;
}
