//PRODUCTS COMMON//

.section-products {
  padding-top: 121px;
  padding-bottom: 98px;
}

.section__label--products {
  text-align: center;
  margin-bottom: 15px;
}

.section__title--products {
  text-align: center;
  margin-bottom: 145px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 150px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 260px;
  }
}

.products {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.products__title {
  font-family: 'Titan One';
  font-size: 20px;
  font-weight: normal;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  margin-bottom: 66px;
  color: $main-white;
  position: relative;
  &::after {
    content: '\2026';
    font-size: 45px;
    position: absolute;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    top: 65%;
    left: 38%;
  }
  @media screen and (min-width: $desktop) {
    font-family: 'Titan One';
    font-size: 30px;
    font-weight: normal;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.products__text {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.52;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center;
  color: $main-white;

  @media screen and (min-width: $tablet) {
    line-height: 1.76;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }
}

.products__item {
  position: relative;
  border-radius: 24px;
  padding: 160px 40px 40px;

  &::before {
    content: '';

    position: absolute;
    top: -25%;
    left: 6px;

    display: block;

    width: 100%;
    height: 252px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-width: $tablet) {
      top: -21%;
    }
    @media screen and (min-width: $desktop) {
      top: -31%;
    }
  }

  &:first-child {
    background-color: $sd-brand-color;
    &::before {
      background-image: url('../images/d-product-1.png');
      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/d-product-1-2x.png);
      }
    }
  }

  &:nth-child(2) {
    background-color: $background-brown;
    &::before {
      background-image: url('../images/d-product-2.png');
      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/d-product-2-2x.png);
      }
    }
  }

  &:last-child {
    background-color: $background-green;
    &::before {
      background-image: url('../images/d-product-3.png');
      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/d-product-3-2x.png);
      }
    }
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  @media screen and (max-width: $tablet - 1px) {
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  @media screen and (max-width: $desktop - 1px) {
    max-width: 280px;
    margin: 0 auto;
  }
}

.products__button {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url('../images/arrow.jpg');
  background-position: center;
  border-color: transparent;
  cursor: pointer;
}

//TABLET//
// @media screen and (min-width: $tablet) {
//   .section-products {
//     padding-top: 122px;
//     padding-bottom: 112px;
//   }
//   .products {
//     display: flex;
//   }

//   .products__item:not(:last-child) {
//     margin-right: 20px;
//   }

//   .products__item {
//     &::before {
//       width: 100%;
//       height: 224px;
//       top: 0;
//     }
//   }
// }

//DESKTOP//
// @media screen and (min-width: $desktop) {
//   .section-products {
//     padding-top: 127px;
//     padding-bottom: 119px;
//   }

//   .products {
//     display: flex;
//   }

//   .products__item:not(:last-child) {
//     margin-right: 24px;
//   }

//   .products__item {
//     &::before {
//       width: 100%;
//       height: 335px;
//       top: 0;
//     }
//   }
// }
