.products__title {
    color:$main-white;
}

.products__text {
    color:$main-white;
}
//MOBILE//
.products__title {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 66px;
}

.products__text {
    font-size: 14px;
    font-weight: bold;
    line-height: 152%;
    letter-spacing: 0.04em;
    text-align: center;
}

.section-products {
    padding-top: 121px;
    padding-bottom: 98px;
}

.products__item:not(:last-child) {
    margin-bottom: 17px;
}

.products__item--ice-cream {
    position: relative;
    &::before {
        position:absolute;
        content: "";
        display: block;
        bottom: 70%;
        width: 100%;
        height: 100%;
        background-image: url(../images/d-product-1.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        
    }
}

.products__thumb {
    padding-top: 161px;
    padding-bottom: 41px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    border-radius: 24px;
}

.products__thumb--pink {
   background-color: $background-pink; 
}

.products__thumb--natural {
   background-color: $background-brown; 
}

.products__thumb--green {
   background-color: $background-green;  
}

//TABLET//
@media screen and (min-width:768px) {
.section-products {
    padding-top: 122px;
    padding-bottom: 112px;
    }
}

//DESTOP//
@media screen and (min-width:1200px) {
    .section-products {
    padding-top: 127px;
    padding-bottom: 119px;
    }
.products {
    display: flex;
    flex-wrap: wrap;
    margin-top: -24px;
    margin-left: -24px;
}

.products__item {
    flex-basis: calc((100% - 78px) / 3);
    margin-left: 24px;
    margin-right: 24px;
} 
}