//PRODUCT SECTION//

.section__label--products {
    text-align: center;
    margin-bottom: 15px;
}

.section__title--products {
    text-align: center;
    margin-bottom: 38px;
}

.products__title {
    color:$main-white;
    position: relative;
    &::after {
        content: '\2026';
        font-size: 45px;
        position: absolute;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        top: 60%;
        left: 40%;
    }
}


.products__text {
    color:$main-white;
}
//MOBILE//
.products__title {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 66px;
}

.products__text {
    font-size: 14px;
    font-weight: bold;
    line-height: 152%;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 30px;
}

.section-products {
    padding-top: 121px;
    padding-bottom: 98px;
}

.products__item {
    width: 100%;
    height: 598px;
    position: relative;
    // border: 2px dashed #2a2a2a;
    z-index: 1;
    position: relative;
    &::before {
        position:absolute;
        z-index: 3;
        content: "";
        display: block;
        width: 100%;
        height: 252px;
        top: 0;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
}
}

.products__item:not(:last-child) {
    margin-bottom: 17px;
}

.products__item--ice-cream {
    &::before {
        background-image: url("../images/d-product-1.png");
    }
}

.products__item--ice-coffee {
    &::before {
        background-image: url("../images/d-product-2.png");
    }
}

.products__item--milkshakes {
    &::before {
        background-image: url("../images/d-product-3.png");
    }
}

.products__thumb {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding-top: 161px;
    padding-bottom: 41px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    border-radius: 24px;
}

.products__button {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('../images/arrow.jpg');
    background-position: center;
    border-color: transparent;
}

.products__thumb--pink {
   background-color: $background-pink; 
}

.products__thumb--natural {
   background-color: $background-brown; 
}

.products__thumb--green {
   background-color: $background-green;  
}

//TABLET//
@media screen and (min-width:$tablet) {
.section-products {
    padding-top: 122px;
    padding-bottom: 112px;
    }
    .products {
        display: flex;
        // flex-wrap: wrap;
        // margin-top: -20px;
        // margin-left: -20px;
    }
    
    .products__item:not(:last-child) {
    //     flex-basis: calc((100% - 108px) / 3);
    //     margin-top: 20px;
    //     margin-left: 20px;
        margin-right: 20px;
    // } 
}
}

//DESKTOP//
@media screen and (min-width:$desktop) {
    .section-products {
    padding-top: 127px;
    padding-bottom: 119px;
    }
.products {
    display: flex;
    flex-wrap: wrap;
    margin-top: -24px;
    margin-left: -24px;
}

.products__item {
    flex-basis: calc((100% - 78px) / 3);
    margin-top: 24px;
    margin-left: 24px;
} 
}